{:kotoba.app/id "cloud.itonami.isic-8530", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic4cxpewfxcktrg25hwxovftoyfxl3upptujlkozozc6st5q5ky4u", :kotoba.app/embed-url "ipfs://bafkreic4cxpewfxcktrg25hwxovftoyfxl3upptujlkozozc6st5q5ky4u", :published {:archive "https://kotobase.net/ipfs/bafkreic4cxpewfxcktrg25hwxovftoyfxl3upptujlkozozc6st5q5ky4u", :size 74106, :put-status 201, :get-status 200, :at "2026-08-15T13:54:33.222Z"}}
